.chat-message-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  // flex: 1 1;
  // overflow-x: hidden;
  // box-sizing: border-box;
  // padding: 0 16px;
  .chat-message-scroll-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    .scrollable-container{
      overflow-y: auto;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .infinite-scroll-container{
        margin-top: 16px;
        display: flex;
        scroll-behavior: smooth;
        gap: 10px;
        .message-container{
          display: flex;
          flex-direction: column;
          gap: 10px;
          .chat-message{
            .chat-message-row{
              display: flex;
              align-items: center;
              .message-row-wrapper{
                display: flex;
                flex: 1 1;
                min-width: 0;
                align-items: center;
                justify-content: flex-end;
                .message-right-side{
                  display: flex;
                  flex-direction: column;
                  overflow-x: hidden;
                  padding: 5px 10px;
                  border-radius: 12px;
                  font-size: 15px;
                  word-break: break-word;
                  box-sizing: border-box;
                  align-self: flex-end;
                  margin-left: 30px;
                  background: #5d5cde;
                  color: #fff;
                  .markdown-container{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    overflow-x: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .chat-page-footer{

  }
}