.chat-message-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex: 1 1;
  // overflow-x: hidden;
  // box-sizing: border-box;
  // padding: 0 16px;
  .chat-message-scroll-wrapper{
    overflow: hidden;
    width: 100%;
    max-height: calc(100vh - 130px);
    .scrollable-container{
      overflow-y: auto;
      padding: 0 16px;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .infinite-scroll-container{
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
        gap: 10px;
        .message-container{
          display: flex;
          flex-direction: column;
          gap: 8px;
          .chat-message{
            .chat-message-row{
              display: flex;
              align-items: center;
              .message-row-wrapper{
                display: flex;
                flex: 1 1;
                min-width: 0;
                align-items: center;
                justify-content: flex-end;
                .message-right-side{
                  display: flex;
                  flex-direction: column;
                  overflow-x: hidden;
                  padding: 8px 16px;
                  border-radius: 12px;
                  font-size: 18px;
                  word-break: break-word;
                  box-sizing: border-box;
                  align-self: flex-end;
                  margin-left: 30px;
                  background: #5d5cde;
                  color: #fff;
                  .markdown-container{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    overflow-x: auto;
                    p{
                      line-height:25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .chat-page-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    border-top: 1px solid #e4e7e7;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    .func-area{
      .func-btn{
        width: 32px;
        height: 32px;
        font-size: 18px;
        border-radius: 50%;
        margin-right: 6px;
        &:hover{
          background-image: linear-gradient(rgb(0 0 0/3%) 0 0);
        }
      }
    }
    .text-area{
      padding-left: 4px;
      textarea{
      }
    }
  }
}